body {
  font-family: 'Open Sans', sans-serif;
}
.content-wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.no-padding {
  padding: 0;
}
/* header styles*/
.navbar-inverse {
  background: #397ab2;
  border-color: #397ab2;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.logo {
  float: left;
  margin-right: 15px;
  width: 25px;
}
.title-hightlight {
  color: #cfe7fb;
}
.navbar-right {
  background: #eceff4;
  border: 1px solid #cad3df;
  border-radius: 4px;
  margin-right: 15px;
  margin-top: 8px;
}
.dropdown-toggle {
  color: #4d799d;
}
.nav>li>a {
  padding:6px 10px;
}
.export-items li {
  padding: 0 14px;
}
.export-icon {
  float: left;
  margin-right: 7px;
  margin-top: 2px;
  width: 18px;
}
.export-btn-arrow {
  margin-left: 20px;
}
.sidebar {
  bottom: 0;
  height: 100%;
  overflow: auto;
  padding: 20px;
  position: fixed;
  top: 51px;
  width: 380px;
  z-index: 5;
}
.map-wrapper {
  background: #accfff;
  bottom: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.zoom-level-nav {
  position: absolute;
  left: 420px;
  margin-top: 65px;
  z-index: 2;
}
.zoom-level {
  width: 100%;
}
.zoom-level button {
  background: #f1f1f1;
  border-radius: 4px;
  color: #bbbbbb;
  margin-right: 3px;
  text-align: left;
  width: 24%;
}
.zoom-level button:hover {
  background: #397ab0;
  color: #ffffff;
}
.zoom-level button.btn-active {
  background: #397ab0;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
.zoom-level .button-label {
  font-size: 12px;
  margin-left: 5px;
}
.zoom-level button.btn-active .button-label {
  display: inline-block;
}
.indicators-panels .card-header{
  background: #f3f3f3;
  border-bottom: none;
  border-left: 1px solid #e6eaee;
  border-right: 1px solid #e6eaee;
  border-top: 1px solid #e6eaee;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px;
}
.indicators-panels .card-block {
  border-bottom: none;
  border-left: 1px solid #e6eaee;
  border-right: 1px solid #e6eaee;
  border-top: none;
  padding: 10px;
}
.panel-header-icon {
  background: #e8eaf1;
  display: block;
  float: left;
  margin-right: 12px;
  padding: 10px;
}
.panel-header-icon img {
  width: 20px;
}
.panel-header-content{
  display: inline-block;
  width: 70%;
}
.panel-header-content:hover {
  cursor: pointer;
}
.panel-header-title {
  color: #000000;
  display: block;
  font-size: 13px;
}
.panel-header-description {
  color: #b5b5b5;
  display: block;
  font-size: 12px;
  font-style: italic;
}
.score {
  font-weight: bold;
}
.score.good {
  color: #94c35c;
}
.score.medium {
  color: #f1d121;
}
.score.bad {
  color: #ef4949;
}
.component-section {
  overflow: hidden;
  padding: 5px 0;
}
.component-label {
  font-size: 11px;
  line-height: 13px;
  padding: 0;
}
.component-scale {
  background: #e2e7ee;
  border-radius: 5px;
  height: 12px;
  margin-top: 10px;
  position: relative;
  width: 100%;
}
.score-bar {
  position: absolute;
  height:12px;
  left: 0;
}

/*score slides*/
.score-bar.half{
  background: #94c35c;
  width: 5%;
}
.score-bar.one{
  background: #94c35c;
  width: 10%;
}
.score-bar.one.inverse {
  background: #ef4949;
}
.score-bar.two{
  background: #94c35c;
  width: 20%;
}
.score-bar.two.inverse {
  background: #ef4949;
}
.score-bar.three{
  background: #94c35c;
  width: 30%;
}
.score-bar.three.inverse {
  background: #ef4949;
}
.score-bar.four{
  background: #f1d121;
  width: 40%;
}
.score-bar.five{
  background: #f1d121;
  width: 50%;
}
.score-bar.six{
  background: #f1d121;
  width: 60%;
}
.score-bar.seven{
  background: #ef4949;
  width: 70%;
}
.score-bar.seven.inverse {
  background: #94c35c;
}
.score-bar.eight{
  background: #ef4949;
  width: 80%;
}
.score-bar.eight.inverse {
  background: #94c35c;
}
.score-bar.nine{
  background: #ef4949;
  width: 90%;
}
.score-bar.nine.inverse {
  background: #94c35c;
}
.score-bar.ten{
  background: #ef4949;
  border-radius: 5px;
  width: 100%;
}
.score-bar.ten.inverse {
  background: #94c35c;
}



.scale-icon {
  background: #397ab0;
  border-radius: 50%;
  left: -20px;
  padding: 5px;
  position: absolute;
  top: -7px;
  width: 25px;
  border: 3px solid #ffffff;
}

/*community profiles*/
.community-profiles-wrapper {
  background: #f3faff;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  margin-top: 20px;
  padding: 10px;
}
.community-title {
  color: #1d2531;
  font-size: 11px;
  font-weight: bold;
}
.total-count{
  color: #3780bb;
  font-size: 24px;
}
.filter-count {
  color: #444444;
  font-size: 13px;
}
.score-helptext {
  font-size: 11px;
}
.profile-item {
  border-radius: 3px;
  color: #354052;
  font-size: 12px;
  font-weight: bold;
  margin-left: -5px;
  margin-right: -5px;
  padding: 7px;
}
.profile-item:hover {
  background: #a4d980;
  color: #ffffff;
}
.profile-item .col {
  padding: 0;
}
.community-icon {
  width: 17px;
}
.btn-modal {
  background: none;
  border: none;
  float: right;
  margin-top: 8px;
  opacity: 1;
  padding: 0;
  width: 20px;
}
.btn-modal:hover {
  opacity: 0.75;
}
.modal-dialog {
  width: 500px;
  z-index: 2;
}
.modal-backdrop {
  z-index: 2;
}
.sidebar-modal .modal-header {
  background: #269df9;
  color: #ffffff;
}
.sidebar-modal .close {
  opacity: 1;
  color: #ffffff;
  text-shadow: none;
}
.sidebar-modal h4 {
  font-size: 14px;
  font-weight: bold;
}
.sidebar-modal p {
  margin-bottom: 20px;
}
.map-popup {
  background: #215784;
  border-radius: 4px;
  color: #ffffff;
  padding: 15px;
  width: 200px;
}
.map-popup .popup-header {
  color: #daeaf7;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.map-popup .popup-score {
  font-size: 35px;
  text-transform: uppercase;
}
.map-popup .score-label {
  color: #daeaf7;
  font-size: 11px;
}

/* slide out tabs */
.slide-out-tab-province,
.slide-out-tab-legend {
  background: #ffffff;
  margin-left: 378px;
  min-height: 250px;
}
.slide-out-tab-province.open,
.slide-out-tab-legend.open {
  z-index: 4;
}

a.handle,
a.handle-legend
 {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #eeeeee;
  color: #bbbbbb;
  height: 150px;
  width: 35px;
  z-index: 3;
}
a.handle:hover {
  color: #397ab0;
  text-decoration: none;
}
.handle-label {
  display: inline-block;
  font-size: 13px;
  margin-left: 4px;
  margin-top: 26px;
  white-space: nowrap;
  width: 30px;

  /*styles below are for text rotation*/
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(90deg);
/ * Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.slide-out-tab-legend .handle-label {
  margin-top: 60px;
}
.slideout-content-wrapper {
  color: #888888;
  padding: 20px;
  width: 250px;
}
.slideout-content-wrapper h4{
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 20px;
}
.selected-projects {
  border-left: 1px solid #bbbbbb;
  color: #888888;
  font-size: 10px;
  margin-left: 5px;
  padding-left: 5px;
}
.options-list label{
  font-size: 12px;
  font-weight: normal;
}
.options-list .list-label {
  margin-left: 5px;
}
.options-list ul,
.select-options{
  list-style: none;
  padding-left: 0;
}
.select-options label {
  font-weight: normal;
}
.select-options {
  display: block;
  padding-bottom: 25px;
}
.select-options li {
  float: left;
  font-size: 12px;
  margin-right: 15px;
}
.select-options input[type=radio] {
  height: 15px;
  width: 15px;
}

/*homepage styles*/
.homepage {
  background: #0f4882;
}
.home-bg {
  left: 0;
  min-width: 100%;/* to preserve aspect ratio */
  min-height: 100%;/* to preserve aspect ratio */
  opacity: 0.2;
  position: fixed;
  top: 0;
}
.home-content {
  color: #ffffff;
  padding-bottom: 50px;
  padding-top: 90px;
}
.home-content h2 {
  color: #cfe7fb;
  font-weight: bold;
  margin-top: 0;
}
.home-content h3 {
  font-size: 15px;
  font-weight: bold;
}
.home-content p{
  font-size: 12px;
}
.timer {
  color: #ffffff;
}
.laptop {
  margin-top: 18px;
  max-width: 100%;
}
.title-icon {
  margin-right: 5px;
}
.image-icon {
  width: 20px;
}
.btn-link {
  background: #397ab2;
  border-radius: 4px;
  color: #ffffff;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 5px 20px;
  text-align: center;
}
.btn-link:hover {
  background: #125083;
  color: #ffffff;
  text-decoration: none;
}
